<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/addShoppingList.css') }}" />
</head>
<body>
    <form name="addEvent" method="POST" autocomplete="off">
        <input type="text" name="item" placeholder="Item" required><br>
        <input type="submit">
    </form>
    <h1>{{Message}}</h1>
</body>
</html>