<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/home.css') }}" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class='wrapper'>
        <div class='navbar'>
            <ul>
                <img src="{{ url_for('static', filename='YouSmall.png') }}">
                <li style="float:right"><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</body>
</html>