<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#6C63FF">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/envieStyle.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='AppLogoTrans.png')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="/" class="navbar__logo">InHouse <sup>Studios</sup></a>
				<nav class="navbar__menu">
					<ul>
                        {% if current_user.is_authenticated %}
						<li><a href="/myfamily/0">Dashboard</a></li>
						<li><a href="/myaccount/0">My account</a></li>
                        <li><a href="/logout">Log out</a></li>
                        {% else %}
						<li><a href="/login">Log in</a></li>
                        <li><a href="/signup">Sign up</a></li>
                        {% endif %}
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">The online bulletin board</h1>
						<p class="hero__text">InHouse is an easy way to streamline your daily life as a family. Serving as your planner, shopping list and much more!</p>
						{% if current_user.is_authenticated %}
						<a href="/myfamily/0" class="button button__accent">Dashboard</a>
						<a href="#who" class="button hero__button">Learn more</a>
						{% else %}
						<a href="/signup" class="button button__accent">Create an account</a>
						<a href="#who" class="button hero__button">Learn more</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<a href="#who">
			<span>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
			</span>
		</a>
	</div>
	<!-- Steps -->
	<div class="steps landing__section" id="who">
		<div class="container">
			<h2>Who can use InHouse?</h2>
			<p>Here's who we can think of, but everything is possible!</p>
		</div>
		<div class="container">
			<div class="steps__inner">
				<div class="step">
					<div class="step__media">
						<img src="/static/family.svg" class="step__image">
					</div>
					<h4>Families</h4>
					<p class="step__text">Smoothen your daily hassle. A synchronised dashboard for every member of the family.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="/static/party.svg" class="step__image">
					</div>
					<h4>Event planners</h4>
					<p class="step__text">Streamline the organisation of any party. Buying food and drinks has never been so easy.</p>
				</div>
				<div class="step">
					<div class="step__media">
						<img src="/static/question.svg" class="step__image">
					</div>
					<h4>You</h4>
					<p class="step__text">Sign up now and get to learn InHouse! Streamline your daily life</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Expanded sections -->
	<div class="expanded landing__section">
		<div class="container">
			<div class="expanded__inner">
				<div class="expanded__media">
					<img src="/static/dashboard.svg" class="expanded__image">
				</div>
				<div class="expanded__content">
					<h2 class="expanded__title">Easy to use</h2>
					<p class="expanded__text">InHouse tries to make the platform available to everyone. Kids, adults, seniors... anyone will find their way around.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href="/" class="footer__textLogo">InHouse<sup>Studios</sup></a>
				<div class="footer__data">
				</div>
			</div>
		</div>
	</div>
<script src='/static/app.js'></script>
</body>
</html>