<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#6C63FF">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles/envieStyle.css') }}" />
</head>
<body>
	<!-- navbar -->
	<div class="navbar">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="/" class="navbar__logo">InHouse <sup>Studios</sup></a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/login">Log in</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Authentication pages -->
	<div class="auth">
		<div class="container">
			<div class="auth__inner">
				<div class="auth__media">
					<img src="/static/account.svg">
				</div>
				<div class="auth__auth">
					<h1 class="auth__title">Create an account</h1>
					<p>Fill out the form to proceed</p>
					<form method='POST' autocomplete="off" name="signup" class="form">
						<label>Email</label>
                        <input type="text" name="email" id='email' maxlength="100" placeholder="you@example.com" required>
                        <label>Username</label>
						<input type="text" name="username" id='username' maxlength="50" placeholder="A username" required>
						<label>Password</label>
						<input type="password" name="password" id='password' maxlength="250" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off">
						<h4>{{Message}}</h4>
						<button type='submit' class="button button__accent">Sign up</button>
					</form>
				</div>
			</div>
		</div>
	</div>
<script src='/static/app.js'></script>
</body>
</html>