@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins|Roboto');

body
{
    margin: 0;
    width: 100%;
}

ul 
{
    list-style-type: none;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Roboto';
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #111;
}

.wrapper
{
    width: 80%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.first
{
    width: 48%;
    height: 50vh;
    float: left;
    border-radius: 2vw;
    background-color: blue;
}

.second
{
    float: right;
    width: 48%;
    height: 50vh;
    margin-left: 4%;
    border-radius: 2vw;
    background-color: red;
}