@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins|Roboto');

body
{
    margin: 0;
    width: 100%;
    font-family: 'Roboto';
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%; 
    position: fixed; 
    overflow: auto; 
    font-family: 'Roboto';
}

li a 
{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.25s;
}

li a:hover 
{
    background-color: #111;
    color: #f1f1f1;
    transition: all 0.25s;
}

.wrapper
{
    width: 70%;
    overflow: hidden;
    margin-left: 23%;
    margin-right: auto;    
}

.wrapper h1
{
    text-align: center;
}

.first
{
    width: 46%;
    height: 50vh;
    float: left;
    border-radius: 1vw;
    margin-top: 4%;
    border: 2px solid #e1e4e8;
    overflow-y: scroll;
    

}

.second
{
    float: right;
    width: 46%;
    height: 50vh;
    margin-left: 4%;
    border-radius: 1vw;
    margin-top: 4%;
    border: 2px solid #e1e4e8;
    overflow-y: scroll;
}

table
{
    text-align: center;
}

td
{
    padding: 1.5vh;
}

.first h1
{
    text-align: center;
}

.second h1
{
    text-align: center;
}

::-webkit-scrollbar 
{
    width: 15px;
}

::-webkit-scrollbar-track 
{
    background: #f1f1f1; 
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

::-webkit-scrollbar-thumb 
{
    background: #888; 
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover 
{
    background: #555; 
}