@import url('https://fonts.googleapis.com/css?family=Merriweather|Poppins|Roboto');

html
{
    width: 100%;
}

.centered
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 460px;
    border-radius: 3px;
    text-align: center;
}

.top-right button
{
    background-color: transparent;
    border: none;
    font-family: 'Merriweather';
    font-size: 25px;
    outline: none;
    transition: all 0.4s;
    margin-left: 98%;
}

.top-right button:hover
{
    transition: all 0.4s;
    transform: rotate(360deg);
}

h1
{
    font-family: 'Merriweather';
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img
{
    width: 50%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input[type="text"], input[type="password"]
{
    width: 250px;
    margin-bottom: 7%;
    padding-bottom: 3%;
    outline: none;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    color:#455765;
    border-bottom: 1.5px solid #455765;
    font-family: 'Roboto';
    transition: all 0.4s;
}

input[type="text"]:focus, input[type="password"]:focus
{
    padding-bottom: 4%;
    border-bottom: 1.5px solid #34424F;
    color: #34424F;
    transition: all 0.4s;
}

input[type="submit"]
{
    border-radius: 5px;
    width: 100px;
    border: 1.5px solid #34424F;
    background-color: transparent;
    font-family: 'Roboto';
    transition: all 0.4s;
}

input[type="submit"]:hover
{
    width: 120px;
    transition: all 0.4s;
}